<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>login</title>
</head>
<body>
    <div class="all">
    {% if message|length %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{message}}
        </div>
    {% endif %}
    <form action="{{ url_for('auth.login') }}" method="post">
        <img src="/static/assets/log.png" alt="">
        <h1>MovieTracker</h1>
        <h3>Login your account and start tracking movies</h3>
        <label for="username">Username</label>
        <input type="text" name="username">

        <label for="password">Password</label>
        <input type="password" name="password">

        <button type="submit" class="btn">Login</button>
    </form>
    <p>Have no account? <a href="{{ url_for('auth.sign_up') }}">sign up</a></p>
    </div>
</body>
</html>
