<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Sign up</title>
</head>
<body>
    
    <div class="all">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message}}
    </div>

    <form action="{{ url_for('auth.sign_up') }}" method="post">
        <img src="/static/assets/log.png" alt="">
        <h1>MovieTracker</h1>
        <h3>Create an account and start tracking movies</h3>
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <label for="confirm_password">Confirm</label>
        <input type="password" name="confirm_password">
        <button type="submit" class="btn">Signup</button>
    </form>
    <br>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">login</a></p>

    </div>
</body>
</html>